

#initially-showing {
  display: none;
}

#initially-showing2 {
  display: none;
}

#initially-showing3 {
  display: none;
}

.light-background {
  background-color: #d3d3d3;
}

.dark-background {
  background-color: #151515;
}

.light-text {
  color: white;
}
